* {
  margin: 0;
  padding: 0;
}
.HeaderBox {
  background-color: #2D2E32;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  box-sizing: border-box;
}
.HeaderBox .Header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.HeaderBox .Header .HeaderIconBox {
  align-items: center;
  display: flex;
}
.HeaderBox .Header .HeaderIconBox .HeaderIcon {
  width: 41px !important;
  height: 41px !important;
}
.HeaderBox .Header .HeaderIconBox .HeaderIconText {
  font-size: 24px;
  font-weight: 600;
  color: #FFE347;
  margin-left: 11px;
}
.HeaderBox .Header .languageIconBox {
  align-items: center;
  display: flex;
}
.HeaderBox .Header .languageIconBox .languageIcon {
  width: 28px !important;
  height: 28px !important;
}
.HeaderBox .Header .languageIconBox .accountBox {
  width: 140px;
  height: 34px;
  background: #FFE347;
  border-radius: 17px;
  font-size: 20px;
  font-weight: 400;
  color: #1E0D01;
  line-height: 28px;
  margin-left: 40px;
}
